body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #fff;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ee4d2d;
    border-radius: 1rem;
    &:hover {
      background-color: #ee7259;
    }

    &:active {
      background-color: #ee4d2d;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}